# SPDX-FileCopyrightText: 2026 Blackcat Informatics Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: MIT OR Apache-2.0

useDynLib(gmeowgts, .registration = TRUE)

export(abi_version)
export(build_metadata_json)
export(capabilities_json)
export(files_diff_json)
export(files_pack)
export(files_unpack)
export(from_nquads)
export(libgts_version)
export(read_json)
export(status)
export(status_name)
export(to_nquads)
export(unpack_flags)
export(verify_json)
